[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pandas = "*"
numpy = "*"
fuzzywuzzy = "*"
sklearn = "*"
scipy = "*"
matplotlib = "*"
python-levenshtein = "*"
openpyxl = "*"
seaborn = "*"
imblearn = "*"
xgboost = "*"
sagemaker = "*"
boto3 = "*"

[requires]
python_version = "3.7"
